/* 
   .list 클래스 스타일링 설정
   목록 요소(.list)의 스타일을 정의합니다.
*/
.list {
  list-style-type: none; /* 목록 마커를 숨김으로 설정합니다. */
  border: none;          /* 테두리를 없앱니다. */
  padding: 0;            /* 내부 여백을 없앱니다. */
}
